Argix10.HR/Argix10.IDViewer.Win/Service References/Terminals/Roadshow1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Terminals" elementFormDefault="qualified" targetNamespace="http://Argix.Terminals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25777/Argix10.Terminals.Services/Roadshow.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix.Terminals" />
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetCustomersResult" nillable="true" type="q1:Customers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetDepotsResult" nillable="true" type="q2:Depots" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrivers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="depotNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Terminals" minOccurs="0" name="GetDriversResult" nillable="true" type="q3:Drivers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>