Argix10.Customers/Argix10.CRM.Web/App_Code/ClientDataset.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ClientDataset" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="ClientTable">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ClientID" type="xs:string" minOccurs="0" />
                <xs:element name="VendorID" type="xs:string" minOccurs="0" />
                <xs:element name="CompanyName" type="xs:string" minOccurs="0" />
                <xs:element name="CompanyType" type="xs:string" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>