Argix10.Customers/Argix10.CRM.Win/Service References/Enterprise/TrackingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Argix" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrackingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITrackingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Argix" location="http://localhost:6484/Argix10.Enterprise.Services/Tracking.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ITrackingService" type="i0:ITrackingService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITrackingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://Argix/ITrackingService/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap12:operation soapAction="http://Argix/ITrackingService/GetClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoresForSubStore">
      <soap12:operation soapAction="http://Argix/ITrackingService/GetStoresForSubStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForStoreByPickupDate">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsForStoreByPickupDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForStoreByDeliveryDate">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsForStoreByDeliveryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsByCartonNumber">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsByCartonNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsByLabelNumber">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsByLabelNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsByPlateNumber">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsByPlateNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForPO">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsForPO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForPRO">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsForPRO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForStoreSummary">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsForStoreSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForStoreDetail">
      <soap12:operation soapAction="http://Argix/ITrackingService/TrackCartonsForStoreDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TrackingFaultFault">
        <soap12:fault use="literal" name="TrackingFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingService">
    <wsdl:port name="WSHttpBinding_ITrackingService" binding="tns:WSHttpBinding_ITrackingService">
      <soap12:address location="http://localhost:6484/Argix10.Enterprise.Services/Tracking.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:6484/Argix10.Enterprise.Services/Tracking.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>