Argix10.HR/Argix10.IDBadges.Web/App_WebReferences/Argix/HR/Permits/Permit4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.HR" elementFormDefault="qualified" targetNamespace="http://Argix.HR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4027/Argix10.HR.Services/Permit.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
  <xs:import schemaLocation="http://localhost:4027/Argix10.HR.Services/Permit.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4027/Argix10.HR.Services/Permit.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.HR" />
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetServiceInfoResult" nillable="true" type="q1:ServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetUserConfigurationResult" nillable="true" type="q3:UserConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="m" nillable="true" type="q4:TraceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewPermits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewPermitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewPermitsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPermit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPermitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="ReadPermitResult" nillable="true" type="q5:Permit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPermit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="permit" nillable="true" type="q6:Permit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPermitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPermitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplacePermit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="permit" nillable="true" type="q7:Permit" />
        <xs:element minOccurs="0" name="newNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplacePermitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReplacePermitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokePermit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="permit" nillable="true" type="q8:Permit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokePermitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevokePermitResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="vehicle" nillable="true" type="q9:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeVehicleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePermitNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePermitNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="ValidatePermitNumberResult" nillable="true" type="q10:Permit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.HR" minOccurs="0" name="ValidateVehicleResult" nillable="true" type="q11:Permit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPermitsByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPermitsByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindPermitsByNumberResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPermitsByPlate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plateNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPermitsByPlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindPermitsByPlateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPermitsByVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="make" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPermitsByVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindPermitsByVehicleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>