Argix10.Freight/Argix10.PalletShipment.Win/Service References/Freight/LTLService25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Freight" elementFormDefault="qualified" targetNamespace="http://Argix.Freight" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33027/Argix10.Freight.Services/LTLService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
  <xs:import schemaLocation="http://localhost:33027/Argix10.Freight.Services/LTLService2.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:33027/Argix10.Freight.Services/LTLService2.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Argix.Freight" />
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetServiceInfoResult" nillable="true" type="q1:ServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetUserConfigurationResult" nillable="true" type="q3:UserConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="m" nillable="true" type="q4:TraceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuoteForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="entry" nillable="true" type="q5:LTLQuote2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuoteForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="CreateQuoteForAdminResult" nillable="true" type="q6:LTLQuote2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLClientsForAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLClientsForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLClientsForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLClientForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="client" nillable="true" type="q7:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLClientForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLClientForAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLClientForAdminResult" nillable="true" type="q8:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLClientForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="client" nillable="true" type="q9:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLClientForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLClientForAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveLTLClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
        <xs:element minOccurs="0" name="approve" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveLTLClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveLTLClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientListForAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientListForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadLTLClientListForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShippersForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShippersForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLShippersForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipperForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipper" nillable="true" type="q10:LTLShipper2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipperForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLShipperForAdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipperForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipperNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipperForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLShipperForAdminResult" nillable="true" type="q11:LTLShipper2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipperForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipper" nillable="true" type="q12:LTLShipper2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipperForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLShipperForAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShippersListForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShippersListForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadLTLShippersListForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLConsigneesForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLConsigneesForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLConsigneesForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLConsigneeForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="consignee" nillable="true" type="q13:LTLConsignee2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLConsigneeForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLConsigneeForAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneeForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consigneeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneeForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLConsigneeForAdminResult" nillable="true" type="q14:LTLConsignee2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLConsigneeForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="consignee" nillable="true" type="q15:LTLConsignee2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLConsigneeForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLConsigneeForAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneesListForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneesListForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadLTLConsigneesListForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShipmentsForDispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShipmentsForDispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLShipmentsForDispatchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLTLShipmentsForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="criteria" nillable="true" type="q16:LTLSearch2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLTLShipmentsForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchLTLShipmentsForAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipmentForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipment" nillable="true" type="q17:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipmentForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLShipmentForAdminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipmentForDispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipmentForDispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLShipmentForDispatchResult" nillable="true" type="q18:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipmentForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipment" nillable="true" type="q19:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipmentForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLShipmentForAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLTLShipmentForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLTLShipmentForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelLTLShipmentForAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupLocationForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupLocationForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadPickupLocationForAdminResult" nillable="true" type="q20:ServiceLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupLocationsForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupLocationsForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadPickupLocationsForAdminResult" nillable="true" type="q21:ServiceLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadServiceLocationForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadServiceLocationForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadServiceLocationForAdminResult" nillable="true" type="q22:ServiceLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadServiceLocationsForAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadServiceLocationsForAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadServiceLocationsForAdminResult" nillable="true" type="q23:ServiceLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPalletLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPalletLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadPalletLabelsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuoteForSalesRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="entry" nillable="true" type="q24:LTLQuote2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuoteForSalesRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="CreateQuoteForSalesRepResult" nillable="true" type="q25:LTLQuote2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLoadTenderQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLoadTenderQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLoadTenderQuotesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLoadTenderQuoteResult" nillable="true" type="q26:LTLLoadTenderQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="quote" nillable="true" type="q27:LTLLoadTenderQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLoadTenderQuoteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="quote" nillable="true" type="q28:LTLLoadTenderQuote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLoadTenderQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteID" type="xs:int" />
        <xs:element minOccurs="0" name="approved" type="xs:dateTime" />
        <xs:element minOccurs="0" name="approvedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveLoadTenderQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenderLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteID" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="loadTender" nillable="true" type="q29:LoadTender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TenderLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenderLoadTenderQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteID" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipment" nillable="true" type="q30:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookLoadTenderQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteID" type="xs:int" />
        <xs:element minOccurs="0" name="cancelled" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cancelledBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelLoadTenderQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOwnerLoadTenderQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteID" type="xs:int" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOwnerLoadTenderQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeOwnerLoadTenderQuoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadTender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadTenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="GetLoadTenderResult" nillable="true" type="q31:LoadTender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="entry" nillable="true" type="q32:LTLQuote2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="CreateQuoteResult" nillable="true" type="q33:LTLQuote2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="client" nillable="true" type="q34:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLClientResult" nillable="true" type="q35:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLClientByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLClientByNumberResult" nillable="true" type="q36:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="client" nillable="true" type="q37:LTLClient2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLTLClientList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesRepClientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLTLClientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLTLClientListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShippersForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShippersForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLShippersForClientResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipper" nillable="true" type="q38:LTLShipper2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLShipperResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShippersList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShippersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadLTLShippersListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipperNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLShipperResult" nillable="true" type="q39:LTLShipper2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipper" nillable="true" type="q40:LTLShipper2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLShipperResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLConsigneesForClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLConsigneesForClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLConsigneesForClientResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLConsignee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="consignee" nillable="true" type="q41:LTLConsignee2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLConsigneeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLConsigneeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadLTLConsigneesListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsignee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consigneeNumber" type="xs:int" />
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLConsigneeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLConsigneeResult" nillable="true" type="q42:LTLConsignee2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLConsignee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="consignee" nillable="true" type="q43:LTLConsignee2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLConsigneeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLConsigneeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLTLShipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLTLShipmentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLTLShipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="criteria" nillable="true" type="q44:LTLSearch2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLTLShipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchLTLShipmentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipment" nillable="true" type="q45:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLTLShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLTLShipmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLTLShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadLTLShipmentResult" nillable="true" type="q46:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="shipment" nillable="true" type="q47:LTLShipment2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLTLShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLTLShipmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLTLShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelLTLShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelLTLShipmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadPickupLocationResult" nillable="true" type="q48:ServiceLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadServiceLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadServiceLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadServiceLocationResult" nillable="true" type="q49:ServiceLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPalletLabelData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPalletLabelDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadPalletLabelDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPalletBOLData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shipmentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPalletBOLDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadPalletBOLDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>