Argix10.AgentLineHaul/Argix10.ShipScheduleTemplates.Win/Service References/AgentLineHaul/ShipScheduleTemplatesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Enterprise" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Terminals">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Terminal" nillable="true" type="tns:Terminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminals" nillable="true" type="tns:Terminals" />
  <xs:complexType name="Terminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terminal" nillable="true" type="tns:Terminal" />
  <xs:complexType name="Carriers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carrier" nillable="true" type="tns:Carrier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carriers" nillable="true" type="tns:Carriers" />
  <xs:complexType name="Carrier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carrier" nillable="true" type="tns:Carrier" />
  <xs:complexType name="Agents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agent" nillable="true" type="tns:Agent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agents" nillable="true" type="tns:Agents" />
  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent" nillable="true" type="tns:Agent" />
  <xs:complexType name="Shippers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shipper" nillable="true" type="tns:Shipper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shippers" nillable="true" type="tns:Shippers" />
  <xs:complexType name="Shipper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shipper" nillable="true" type="tns:Shipper" />
</xs:schema>