Argix10.AgentLineHaul/Argix10.ShipScheduleTemplates.Win/Service References/AgentLineHaul/ShipScheduleTemplatesService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Argix.AgentLineHaul" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShipScheduleTemplatesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IShipScheduleTemplatesService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Argix.AgentLineHaul" location="http://localhost:55732/Argix10.AgentLineHaul.Services/ShipScheduleTemplatesService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IShipScheduleTemplatesService" type="i0:IShipScheduleTemplatesService">
    <wsp:PolicyReference URI="#WSHttpBinding_IShipScheduleTemplatesService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigurationFaultFault">
        <soap12:fault use="literal" name="ConfigurationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetUserConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigurationFaultFault">
        <soap12:fault use="literal" name="ConfigurationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/WriteLogEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetShippersAndTerminals">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetShippersAndTerminals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ShipScheduleFaultFault">
        <soap12:fault use="literal" name="ShipScheduleFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCarriers">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetCarriers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ShipScheduleFaultFault">
        <soap12:fault use="literal" name="ShipScheduleFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetAgents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ShipScheduleFaultFault">
        <soap12:fault use="literal" name="ShipScheduleFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDaysOfWeek">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetDaysOfWeek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeekday">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetWeekday" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplates">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ShipScheduleFaultFault">
        <soap12:fault use="literal" name="ShipScheduleFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddTemplate">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/AddTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ShipScheduleFaultFault">
        <soap12:fault use="literal" name="ShipScheduleFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplate">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/UpdateTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ShipScheduleFaultFault">
        <soap12:fault use="literal" name="ShipScheduleFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExportDefinition">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IShipScheduleTemplatesService/GetExportDefinition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShipScheduleTemplatesService">
    <wsdl:port name="WSHttpBinding_IShipScheduleTemplatesService" binding="tns:WSHttpBinding_IShipScheduleTemplatesService">
      <soap12:address location="http://localhost:55732/Argix10.AgentLineHaul.Services/ShipScheduleTemplatesService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:55732/Argix10.AgentLineHaul.Services/ShipScheduleTemplatesService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>