Argix10.AgentLineHaul/Argix10.ISDExport.Win/Service References/AgentLineHaul/ISDExportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Argix.AgentLineHaul" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ISDExportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IISDExportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Argix.AgentLineHaul" location="http://localhost:55732/Argix10.AgentLineHaul.Services/ISDExportService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IISDExportService" type="i0:IISDExportService">
    <wsp:PolicyReference URI="#WSHttpBinding_IISDExportService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigurationFaultFault">
        <soap12:fault use="literal" name="ConfigurationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/GetUserConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigurationFaultFault">
        <soap12:fault use="literal" name="ConfigurationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/WriteLogEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPickups">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/GetPickups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSortedItems">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/GetSortedItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportFilename">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/GetExportFilename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISDClients">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/GetISDClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateISDClient">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/CreateISDClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AgentLineHaulFaultFault">
        <soap12:fault use="literal" name="AgentLineHaulFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateISDClient">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/UpdateISDClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AgentLineHaulFaultFault">
        <soap12:fault use="literal" name="AgentLineHaulFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteISDClient">
      <soap12:operation soapAction="http://Argix.AgentLineHaul/IISDExportService/DeleteISDClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AgentLineHaulFaultFault">
        <soap12:fault use="literal" name="AgentLineHaulFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISDExportService">
    <wsdl:port name="WSHttpBinding_IISDExportService" binding="tns:WSHttpBinding_IISDExportService">
      <soap12:address location="http://localhost:55732/Argix10.AgentLineHaul.Services/ISDExportService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:55732/Argix10.AgentLineHaul.Services/ISDExportService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>