Argix10.AgentLineHaul/Argix10.ISDExport.Win/Service References/AgentLineHaul/ISDExportService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ISDClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CounterKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Scanner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISDClient" nillable="true" type="tns:ISDClient" />
  <xs:complexType name="AgentLineHaulFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentLineHaulFault" nillable="true" type="tns:AgentLineHaulFault" />
</xs:schema>