Argix10.IT/Argix10.SMTPClient.Win/Service References/Enterprise/SMTP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Argix" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Argix" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix/Imports">
      <xsd:import schemaLocation="http://localhost:53791/Argix10.Enterprise.Services/SMTP.svc?xsd=xsd0" namespace="http://Argix" />
      <xsd:import schemaLocation="http://localhost:53791/Argix10.Enterprise.Services/SMTP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:53791/Argix10.Enterprise.Services/SMTP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMTPService_SendMailMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailMessage" />
  </wsdl:message>
  <wsdl:message name="ISMTPService_SendMailMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISMTPService_SendMailMessage_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="ISMTPService_SendMailMessageWithBlindCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailMessageWithBlindCopy" />
  </wsdl:message>
  <wsdl:message name="ISMTPService_SendMailMessageWithBlindCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailMessageWithBlindCopyResponse" />
  </wsdl:message>
  <wsdl:message name="ISMTPService_SendMailMessageWithBlindCopy_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q2:ConfigurationFault" />
  </wsdl:message>
  <wsdl:portType name="ISMTPService">
    <wsdl:operation name="SendMailMessage">
      <wsdl:input wsaw:Action="http://Argix/ISMTPService/SendMailMessage" message="tns:ISMTPService_SendMailMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix/ISMTPService/SendMailMessageResponse" message="tns:ISMTPService_SendMailMessage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:ISMTPService_SendMailMessage_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailMessageWithBlindCopy">
      <wsdl:input wsaw:Action="http://Argix/ISMTPService/SendMailMessageWithBlindCopy" message="tns:ISMTPService_SendMailMessageWithBlindCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix/ISMTPService/SendMailMessageWithBlindCopyResponse" message="tns:ISMTPService_SendMailMessageWithBlindCopy_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:ISMTPService_SendMailMessageWithBlindCopy_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>