Argix10.Customers/Argix10.CRM.Win/Service References/Customers/CRMService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Enterprise" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="TerminalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalInfo" nillable="true" type="tns:TerminalInfo" />
  <xs:complexType name="EnterpriseFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnterpriseFault" nillable="true" type="tns:EnterpriseFault" />
</xs:schema>