Argix10.Customers/Argix10.CRM.Win/Service References/Customers/CRMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Argix.Customers" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Argix.Customers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Customers/Imports">
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd0" namespace="http://Argix.Customers" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Enterprise" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Argix.Customers" />
      <xsd:import schemaLocation="http://localhost:27557/Argix10.CRM.Services/CRMService.svc?xsd=xsd6" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMService_GetUserConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfiguration" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetUserConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_WriteLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogEntry" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetTerminalInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfo" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetTerminalInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerminalInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetTerminalInfo_EnterpriseFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Argix.Enterprise" name="detail" element="q2:EnterpriseFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_ViewIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewIssues" />
  </wsdl:message>
  <wsdl:message name="ICRMService_ViewIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_ViewIssues_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q3:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssuesForDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuesForDate" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssuesForDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuesForDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssuesForDate_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q4:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SearchIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchIssues" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SearchIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SearchIssues_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q5:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SearchIssuesAdvanced_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchIssuesAdvanced" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SearchIssuesAdvanced_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchIssuesAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_SearchIssuesAdvanced_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q6:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssue" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssue_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q7:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachment" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAttachment_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q8:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssue" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssueResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssue_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q9:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssueAction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssueAction" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssueAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssueActionResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssueAction_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q10:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssueAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssueAttachment" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssueAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIssueAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_CreateIssueAttachment_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q11:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssue" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIssueResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_UpdateIssue_CustomersFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Argix.Customers" name="detail" element="q12:CustomersFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssueCategorys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueCategorys" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssueCategorys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueCategorysResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssueTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueTypes" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetIssueTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssueTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetActionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActionTypes" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetActionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistricts" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetRegions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegions" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetRegions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAgents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgents" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetAgents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetStoreDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreDetail" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetStoreDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetSubStoreDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubStoreDetail" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetSubStoreDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubStoreDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRMService">
    <wsdl:operation name="GetUserConfiguration">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetUserConfiguration" message="tns:ICRMService_GetUserConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetUserConfigurationResponse" message="tns:ICRMService_GetUserConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:ICRMService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/WriteLogEntry" message="tns:ICRMService_WriteLogEntry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminalInfo">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetTerminalInfo" message="tns:ICRMService_GetTerminalInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetTerminalInfoResponse" message="tns:ICRMService_GetTerminalInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Enterprise.EnterpriseFault" name="EnterpriseFaultFault" message="tns:ICRMService_GetTerminalInfo_EnterpriseFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewIssues">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/ViewIssues" message="tns:ICRMService_ViewIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/ViewIssuesResponse" message="tns:ICRMService_ViewIssues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_ViewIssues_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssuesForDate">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetIssuesForDate" message="tns:ICRMService_GetIssuesForDate_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetIssuesForDateResponse" message="tns:ICRMService_GetIssuesForDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_GetIssuesForDate_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchIssues">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/SearchIssues" message="tns:ICRMService_SearchIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/SearchIssuesResponse" message="tns:ICRMService_SearchIssues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_SearchIssues_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchIssuesAdvanced">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/SearchIssuesAdvanced" message="tns:ICRMService_SearchIssuesAdvanced_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/SearchIssuesAdvancedResponse" message="tns:ICRMService_SearchIssuesAdvanced_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_SearchIssuesAdvanced_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssue">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetIssue" message="tns:ICRMService_GetIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetIssueResponse" message="tns:ICRMService_GetIssue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_GetIssue_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetAttachment" message="tns:ICRMService_GetAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetAttachmentResponse" message="tns:ICRMService_GetAttachment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_GetAttachment_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIssue">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/CreateIssue" message="tns:ICRMService_CreateIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/CreateIssueResponse" message="tns:ICRMService_CreateIssue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_CreateIssue_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIssueAction">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/CreateIssueAction" message="tns:ICRMService_CreateIssueAction_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/CreateIssueActionResponse" message="tns:ICRMService_CreateIssueAction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_CreateIssueAction_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIssueAttachment">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/CreateIssueAttachment" message="tns:ICRMService_CreateIssueAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/CreateIssueAttachmentResponse" message="tns:ICRMService_CreateIssueAttachment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_CreateIssueAttachment_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIssue">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/UpdateIssue" message="tns:ICRMService_UpdateIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/UpdateIssueResponse" message="tns:ICRMService_UpdateIssue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Customers.CustomersFault" name="CustomersFaultFault" message="tns:ICRMService_UpdateIssue_CustomersFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueCategorys">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetIssueCategorys" message="tns:ICRMService_GetIssueCategorys_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetIssueCategorysResponse" message="tns:ICRMService_GetIssueCategorys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueTypes">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetIssueTypes" message="tns:ICRMService_GetIssueTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetIssueTypesResponse" message="tns:ICRMService_GetIssueTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActionTypes">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetActionTypes" message="tns:ICRMService_GetActionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetActionTypesResponse" message="tns:ICRMService_GetActionTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetCompanies" message="tns:ICRMService_GetCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetCompaniesResponse" message="tns:ICRMService_GetCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistricts">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetDistricts" message="tns:ICRMService_GetDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetDistrictsResponse" message="tns:ICRMService_GetDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegions">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetRegions" message="tns:ICRMService_GetRegions_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetRegionsResponse" message="tns:ICRMService_GetRegions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgents">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetAgents" message="tns:ICRMService_GetAgents_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetAgentsResponse" message="tns:ICRMService_GetAgents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreDetail">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetStoreDetail" message="tns:ICRMService_GetStoreDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetStoreDetailResponse" message="tns:ICRMService_GetStoreDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubStoreDetail">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetSubStoreDetail" message="tns:ICRMService_GetSubStoreDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetSubStoreDetailResponse" message="tns:ICRMService_GetSubStoreDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>