Argix10.Customers/Argix10.CRM.Mob/App_Code/CompanyDataSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CompanyDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="CompanyTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompanyID" type="xs:int" minOccurs="0" />
        <xs:element name="CompanyName" type="xs:string" minOccurs="0" />
        <xs:element name="Number" type="xs:string" minOccurs="0" />
        <xs:element name="CompanyType" type="xs:string" minOccurs="0" />
        <xs:element name="IsActive" type="xs:unsignedByte" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>