Argix10.Customers/Argix10.CRM.Mob/App_Code/IssueTypeDataset.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="IssueTypeDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="IssueTypeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ID" type="xs:int" minOccurs="0" />
        <xs:element name="Type" type="xs:string" minOccurs="0" />
        <xs:element name="Category" type="xs:string" minOccurs="0" />
        <xs:element name="Description" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>