Argix10.Finance/Argix10.RateQuote.Win/Service References/Finance/RateQuoteService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Finance" elementFormDefault="qualified" targetNamespace="http://Argix.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34780/Argix10.Finance.Services/RateQuoteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
  <xs:import schemaLocation="http://localhost:34780/Argix10.Finance.Services/RateQuoteService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:34780/Argix10.Finance.Services/RateQuoteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Argix.RateWare" />
  <xs:import schemaLocation="http://localhost:34780/Argix10.Finance.Services/RateQuoteService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Argix.Finance" />
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetServiceInfoResult" nillable="true" type="q1:ServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetUserConfigurationResult" nillable="true" type="q3:UserConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="m" nillable="true" type="q4:TraceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTariffs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTariffsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="GetAvailableTariffsResult" nillable="true" type="q5:ArrayOfDataModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClassCodesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="tariff" nillable="true" type="q6:DataModule" />
        <xs:element minOccurs="0" name="originZip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="discount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floorMin" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinationZips" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Finance" minOccurs="0" name="CalculateRatesResult" nillable="true" type="q8:Rates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLTLSimpleRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="request" nillable="true" type="q9:LTLRateShipmentSimpleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLTLSimpleRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="CalculateLTLSimpleRateResult" nillable="true" type="q10:LTLRateShipmentSimpleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLTLRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="request" nillable="true" type="q11:LTLRateShipmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLTLRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="CalculateLTLRateResult" nillable="true" type="q12:LTLRateShipmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLTLRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="requests" nillable="true" type="q13:ArrayOfLTLRateShipmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLTLRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="CalculateLTLRatesResult" nillable="true" type="q14:ArrayOfLTLRateShipmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLTLPointList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="request" nillable="true" type="q15:LTLPointListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLTLPointListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="GetLTLPointListResult" nillable="true" type="q16:LTLPointListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDensityRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="requests" nillable="true" type="q17:ArrayOfDensityRateShipmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDensityRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="CalculateDensityRatesResult" nillable="true" type="q18:ArrayOfDensityRateShipmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLinearRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="requests" nillable="true" type="q19:ArrayOfLinearRateShipmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateLinearRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Argix.RateWare" minOccurs="0" name="CalculateLinearRatesResult" nillable="true" type="q20:ArrayOfLinearRateShipmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMileage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="originPostalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationPostalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMileageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMileageResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewDeliveryZips">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewDeliveryZipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewDeliveryZipsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>