Argix10.AgentLineHaul/Argix10.ISDExport.Win/Service References/Reports/AgentLineHaulService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Argix.AgentLineHaul" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Argix.AgentLineHaul" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.AgentLineHaul/Imports">
      <xsd:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/AgentLineHaulService.svc?xsd=xsd0" namespace="http://Argix.AgentLineHaul" />
      <xsd:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/AgentLineHaulService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" />
      <xsd:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/AgentLineHaulService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/AgentLineHaulService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgentLineHaulService_InboundManifestsView_InputMessage">
    <wsdl:part name="parameters" element="tns:InboundManifestsView" />
  </wsdl:message>
  <wsdl:message name="IAgentLineHaulService_InboundManifestsView_OutputMessage">
    <wsdl:part name="parameters" element="tns:InboundManifestsViewResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentLineHaulService_InboundManifestsView_AgentLineHaulFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" name="detail" element="q1:AgentLineHaulFault" />
  </wsdl:message>
  <wsdl:message name="IAgentLineHaulService_InboundManifestRead_InputMessage">
    <wsdl:part name="parameters" element="tns:InboundManifestRead" />
  </wsdl:message>
  <wsdl:message name="IAgentLineHaulService_InboundManifestRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:InboundManifestReadResponse" />
  </wsdl:message>
  <wsdl:message name="IAgentLineHaulService_InboundManifestRead_AgentLineHaulFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" name="detail" element="q2:AgentLineHaulFault" />
  </wsdl:message>
  <wsdl:portType name="IAgentLineHaulService">
    <wsdl:operation name="InboundManifestsView">
      <wsdl:input wsaw:Action="http://Argix.AgentLineHaul/IAgentLineHaulService/InboundManifestsView" message="tns:IAgentLineHaulService_InboundManifestsView_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.AgentLineHaul/IAgentLineHaulService/InboundManifestsViewResponse" message="tns:IAgentLineHaulService_InboundManifestsView_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.AgentLineHaul.AgentLineHaulFault" name="AgentLineHaulFaultFault" message="tns:IAgentLineHaulService_InboundManifestsView_AgentLineHaulFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InboundManifestRead">
      <wsdl:input wsaw:Action="http://Argix.AgentLineHaul/IAgentLineHaulService/InboundManifestRead" message="tns:IAgentLineHaulService_InboundManifestRead_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.AgentLineHaul/IAgentLineHaulService/InboundManifestReadResponse" message="tns:IAgentLineHaulService_InboundManifestRead_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.AgentLineHaul.AgentLineHaulFault" name="AgentLineHaulFaultFault" message="tns:IAgentLineHaulService_InboundManifestRead_AgentLineHaulFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>