Argix10.AgentLineHaul/Argix10.ISDExport.Win/Service References/Reports/AgentLineHaulService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.AgentLineHaul" elementFormDefault="qualified" targetNamespace="http://Argix.AgentLineHaul" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InboundManifestsView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientDivision" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startPickupDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endPickupDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InboundManifestsViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InboundManifestsViewResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InboundManifestRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manifestID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InboundManifestReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InboundManifestReadResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>