Argix10.Terminals/Argix10.DeliveryPoints.Win/Service References/Terminals/DeliveryPoints.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Argix.Terminals" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Argix.Terminals" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Terminals/Imports">
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/DeliveryPoints.svc?xsd=xsd0" namespace="http://Argix.Terminals" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/DeliveryPoints.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/DeliveryPoints.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/DeliveryPoints.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/DeliveryPoints.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.Terminals" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/DeliveryPoints.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeliveryPointsService_GetServiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetServiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetServiceInfo_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetUserConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfiguration" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetUserConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q2:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_WriteLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogEntry" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetDeliveryPoints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryPoints" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetDeliveryPoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryPointsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetDeliveryPoints_TerminalsFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q3:TerminalsFault" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetExportDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExportDate" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetExportDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExportDateResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetExportDate_TerminalsFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q4:TerminalsFault" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_UpdateExportDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExportDate" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_UpdateExportDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExportDateResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_UpdateExportDate_TerminalsFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q5:TerminalsFault" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetRoadshowCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoadshowCustomers" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetRoadshowCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoadshowCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryPointsService_GetRoadshowCustomers_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q6:RoadshowFault" />
  </wsdl:message>
  <wsdl:portType name="IDeliveryPointsService">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetServiceInfo" message="tns:IDeliveryPointsService_GetServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetServiceInfoResponse" message="tns:IDeliveryPointsService_GetServiceInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:IDeliveryPointsService_GetServiceInfo_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetUserConfiguration" message="tns:IDeliveryPointsService_GetUserConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetUserConfigurationResponse" message="tns:IDeliveryPointsService_GetUserConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:IDeliveryPointsService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/WriteLogEntry" message="tns:IDeliveryPointsService_WriteLogEntry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryPoints">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetDeliveryPoints" message="tns:IDeliveryPointsService_GetDeliveryPoints_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetDeliveryPointsResponse" message="tns:IDeliveryPointsService_GetDeliveryPoints_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.TerminalsFault" name="TerminalsFaultFault" message="tns:IDeliveryPointsService_GetDeliveryPoints_TerminalsFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExportDate">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetExportDate" message="tns:IDeliveryPointsService_GetExportDate_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetExportDateResponse" message="tns:IDeliveryPointsService_GetExportDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.TerminalsFault" name="TerminalsFaultFault" message="tns:IDeliveryPointsService_GetExportDate_TerminalsFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExportDate">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/UpdateExportDate" message="tns:IDeliveryPointsService_UpdateExportDate_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/UpdateExportDateResponse" message="tns:IDeliveryPointsService_UpdateExportDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.TerminalsFault" name="TerminalsFaultFault" message="tns:IDeliveryPointsService_UpdateExportDate_TerminalsFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoadshowCustomers">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetRoadshowCustomers" message="tns:IDeliveryPointsService_GetRoadshowCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IDeliveryPointsService/GetRoadshowCustomersResponse" message="tns:IDeliveryPointsService_GetRoadshowCustomers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IDeliveryPointsService_GetRoadshowCustomers_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>