Argix10.Terminals/Argix10.DeliveryPoints.Win/Service References/Terminals/DeliveryPoints4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Argix.Terminals" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Argix.Terminals" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TerminalsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalsFault" nillable="true" type="tns:TerminalsFault" />
  <xs:complexType name="RoadshowFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoadshowFault" nillable="true" type="tns:RoadshowFault" />
</xs:schema>