Argix10.Freight/Argix10.PalletShipment.Web2/App_WebReferences/Argix/Enterprise/USPS/USPSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Argix.Enterprise" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="USPSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUSPSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Argix.Enterprise" location="http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/USPS.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IUSPSService" type="i0:IUSPSService">
    <wsp:PolicyReference URI="#WSHttpBinding_IUSPSService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrackRequest">
      <soap12:operation soapAction="http://Argix.Enterprise/IUSPSService/TrackRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnterpriseFaultFault">
        <soap12:fault use="literal" name="EnterpriseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackFieldRequest">
      <soap12:operation soapAction="http://Argix.Enterprise/IUSPSService/TrackFieldRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnterpriseFaultFault">
        <soap12:fault use="literal" name="EnterpriseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrackFieldRequests">
      <soap12:operation soapAction="http://Argix.Enterprise/IUSPSService/TrackFieldRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnterpriseFaultFault">
        <soap12:fault use="literal" name="EnterpriseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddress">
      <soap12:operation soapAction="http://Argix.Enterprise/IUSPSService/VerifyAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnterpriseFaultFault">
        <soap12:fault use="literal" name="EnterpriseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupZipCode">
      <soap12:operation soapAction="http://Argix.Enterprise/IUSPSService/LookupZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnterpriseFaultFault">
        <soap12:fault use="literal" name="EnterpriseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LookupCityState">
      <soap12:operation soapAction="http://Argix.Enterprise/IUSPSService/LookupCityState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EnterpriseFaultFault">
        <soap12:fault use="literal" name="EnterpriseFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USPSService">
    <wsdl:port name="WSHttpBinding_IUSPSService" binding="tns:WSHttpBinding_IUSPSService">
      <soap12:address location="http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/USPS.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://rgxvmweb.argix.com/Argix10/Argix10.Enterprise.Services/USPS.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>