Argix10.AgentLineHaul/Argix10.ShipSchedule.Win/Service References/AgentLineHaul/ShipScheduleService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.AgentLineHaul" elementFormDefault="qualified" targetNamespace="http://Argix.AgentLineHaul" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/ShipScheduleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
  <xs:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/ShipScheduleService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55732/Argix10.AgentLineHaul.Services/ShipScheduleService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" />
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetServiceInfoResult" nillable="true" type="q1:ServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="application" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="usernames" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="GetUserConfigurationResult" nillable="true" type="q3:UserConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Argix" minOccurs="0" name="m" nillable="true" type="q4:TraceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipSchedules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipSchedulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShipSchedulesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="sortCenterID" type="xs:long" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShipScheduleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipScheduleTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="sortCenterID" type="xs:long" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipScheduleTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShipScheduleTemplatesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShipSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="sortCenterID" type="xs:long" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShipScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateShipScheduleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShipScheduleTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShipScheduleTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateShipScheduleTripResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShipScheduleTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="carrierServiceID" type="xs:long" />
        <xs:element minOccurs="0" name="loadNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShipScheduleTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindShipScheduleTripResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="trip" nillable="true" type="q5:ShipScheduleTrip" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="stop1" nillable="true" type="q6:ShipScheduleStop" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="stop2" nillable="true" type="q7:ShipScheduleStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShipScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipScheduleTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="trip" nillable="true" type="q8:ShipScheduleTrip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipScheduleTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShipScheduleTripResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipScheduleTripStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.AgentLineHaul" minOccurs="0" name="stop" nillable="true" type="q9:ShipScheduleStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipScheduleTripStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShipScheduleTripStopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCenters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortCentersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSortCentersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarriers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarriersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCarriersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipScheduleView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipScheduleViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShipScheduleViewResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEarlierTripOnPriorSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tripID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="freightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEarlierTripOnPriorScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindEarlierTripOnPriorScheduleResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEarlierTripOnCurrentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="scheduleDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tripID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="freightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEarlierTripOnCurrentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindEarlierTripOnCurrentScheduleResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShipSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="TLNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShipScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindShipScheduleResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="tripID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenTripResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="tripID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseTripResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="tripID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignTLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignTLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignTL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="tl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignTLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnassignTLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="terminalID" type="xs:int" />
        <xs:element minOccurs="0" name="tripID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveTLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>