Argix10.Terminals/Argix10.RSReports.Win/Service References/Terminals/RSReports.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Argix.Terminals" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Argix.Terminals" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Terminals/Imports">
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/RSReports.svc?xsd=xsd0" namespace="http://Argix.Terminals" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/RSReports.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/RSReports.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/RSReports.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/RSReports.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Argix.Terminals" />
      <xsd:import schemaLocation="http://localhost:42462/Argix10.Terminals.Services/RSReports.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRSReportsService_GetServiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetServiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetServiceInfo_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetUserConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfiguration" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetUserConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q2:ConfigurationFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_WriteLogEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLogEntry" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_LoadPickups_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadPickups" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_LoadPickups_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadPickupsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_LoadPickups_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q3:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_ReadPickups_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPickups" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_ReadPickups_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPickupsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_ReadPickups_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q4:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_AddPickup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPickup" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_AddPickup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPickupResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_AddPickup_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q5:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdatePickups_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePickups" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdatePickups_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePickupsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdatePickups_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q6:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdatePickup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePickup" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdatePickup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePickupResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdatePickup_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q7:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_LoadScanAudits_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadScanAudits" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_LoadScanAudits_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadScanAuditsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_LoadScanAudits_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q8:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_ReadScanAudits_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadScanAudits" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_ReadScanAudits_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadScanAuditsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_ReadScanAudits_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q9:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdateScanAudits_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScanAudits" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdateScanAudits_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScanAuditsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdateScanAudits_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q10:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdateScanAudit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScanAudit" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdateScanAudit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScanAuditResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_UpdateScanAudit_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q11:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetCommodityClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommodityClasses" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetCommodityClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommodityClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetCommodityClasses_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q12:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetCustomers_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q13:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetDepots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepots" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetDepots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepotsResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetDepots_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q14:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetDrivers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrivers" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetDrivers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetDrivers_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q15:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetOnTimeIssues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnTimeIssues" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetOnTimeIssues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnTimeIssuesResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetOnTimeIssues_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q16:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetOrderTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderTypes" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetOrderTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetOrderTypes_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q17:RoadshowFault" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetUpdateUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateUsers" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetUpdateUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IRSReportsService_GetUpdateUsers_RoadshowFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Argix.Terminals" name="detail" element="q18:RoadshowFault" />
  </wsdl:message>
  <wsdl:portType name="IRSReportsService">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetServiceInfo" message="tns:IRSReportsService_GetServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetServiceInfoResponse" message="tns:IRSReportsService_GetServiceInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:IRSReportsService_GetServiceInfo_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetUserConfiguration" message="tns:IRSReportsService_GetUserConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetUserConfigurationResponse" message="tns:IRSReportsService_GetUserConfiguration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.ConfigurationFault" name="ConfigurationFaultFault" message="tns:IRSReportsService_GetUserConfiguration_ConfigurationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/WriteLogEntry" message="tns:IRSReportsService_WriteLogEntry_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadPickups">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/LoadPickups" message="tns:IRSReportsService_LoadPickups_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/LoadPickupsResponse" message="tns:IRSReportsService_LoadPickups_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_LoadPickups_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPickups">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/ReadPickups" message="tns:IRSReportsService_ReadPickups_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/ReadPickupsResponse" message="tns:IRSReportsService_ReadPickups_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_ReadPickups_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPickup">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/AddPickup" message="tns:IRSReportsService_AddPickup_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/AddPickupResponse" message="tns:IRSReportsService_AddPickup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_AddPickup_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePickups">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdatePickups" message="tns:IRSReportsService_UpdatePickups_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdatePickupsResponse" message="tns:IRSReportsService_UpdatePickups_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_UpdatePickups_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePickup">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdatePickup" message="tns:IRSReportsService_UpdatePickup_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdatePickupResponse" message="tns:IRSReportsService_UpdatePickup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_UpdatePickup_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadScanAudits">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/LoadScanAudits" message="tns:IRSReportsService_LoadScanAudits_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/LoadScanAuditsResponse" message="tns:IRSReportsService_LoadScanAudits_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_LoadScanAudits_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadScanAudits">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/ReadScanAudits" message="tns:IRSReportsService_ReadScanAudits_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/ReadScanAuditsResponse" message="tns:IRSReportsService_ReadScanAudits_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_ReadScanAudits_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScanAudits">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdateScanAudits" message="tns:IRSReportsService_UpdateScanAudits_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdateScanAuditsResponse" message="tns:IRSReportsService_UpdateScanAudits_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_UpdateScanAudits_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScanAudit">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdateScanAudit" message="tns:IRSReportsService_UpdateScanAudit_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/UpdateScanAuditResponse" message="tns:IRSReportsService_UpdateScanAudit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_UpdateScanAudit_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommodityClasses">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetCommodityClasses" message="tns:IRSReportsService_GetCommodityClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetCommodityClassesResponse" message="tns:IRSReportsService_GetCommodityClasses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetCommodityClasses_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetCustomers" message="tns:IRSReportsService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetCustomersResponse" message="tns:IRSReportsService_GetCustomers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetCustomers_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepots">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetDepots" message="tns:IRSReportsService_GetDepots_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetDepotsResponse" message="tns:IRSReportsService_GetDepots_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetDepots_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrivers">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetDrivers" message="tns:IRSReportsService_GetDrivers_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetDriversResponse" message="tns:IRSReportsService_GetDrivers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetDrivers_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnTimeIssues">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetOnTimeIssues" message="tns:IRSReportsService_GetOnTimeIssues_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetOnTimeIssuesResponse" message="tns:IRSReportsService_GetOnTimeIssues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetOnTimeIssues_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderTypes">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetOrderTypes" message="tns:IRSReportsService_GetOrderTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetOrderTypesResponse" message="tns:IRSReportsService_GetOrderTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetOrderTypes_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateUsers">
      <wsdl:input wsaw:Action="http://Argix.Terminals/IRSReportsService/GetUpdateUsers" message="tns:IRSReportsService_GetUpdateUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Terminals/IRSReportsService/GetUpdateUsersResponse" message="tns:IRSReportsService_GetUpdateUsers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.Terminals.RoadshowFault" name="RoadshowFaultFault" message="tns:IRSReportsService_GetUpdateUsers_RoadshowFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>