Argix10.Freight/Argix10.FreightAssign.Win/Service References/Freight/TsortService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Argix.Freight" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TsortService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITsortService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IFreightAssignService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IZoneClosingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Argix.Freight" location="http://localhost:25765/Argix10.Freight.Services/TsortService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_ITsortService" type="i0:ITsortService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITsortService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap12:operation soapAction="http://Argix.Freight/ITsortService/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigurationFaultFault">
        <soap12:fault use="literal" name="ConfigurationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserConfiguration">
      <soap12:operation soapAction="http://Argix.Freight/ITsortService/GetUserConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigurationFaultFault">
        <soap12:fault use="literal" name="ConfigurationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="WriteLogEntry">
      <soap12:operation soapAction="http://Argix.Freight/ITsortService/WriteLogEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IFreightAssignService" type="i0:IFreightAssignService">
    <wsp:PolicyReference URI="#WSHttpBinding_IFreightAssignService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTerminals">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/GetTerminals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInboundFreight">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/GetInboundFreight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInboundShipment">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/GetInboundShipment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StartSort">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/StartSort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StopSort">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/StopSort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStationAssignments">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/GetStationAssignments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateStationAssignment">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/CreateStationAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteStationAssignment">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/DeleteStationAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFreightSortTypes">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/GetFreightSortTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAssignableSortStations">
      <soap12:operation soapAction="http://Argix.Freight/IFreightAssignService/GetAssignableSortStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IZoneClosingService" type="i0:IZoneClosingService">
    <wsp:PolicyReference URI="#WSHttpBinding_IZoneClosingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTLs">
      <soap12:operation soapAction="http://Argix.Freight/IZoneClosingService/GetTLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedTLs">
      <soap12:operation soapAction="http://Argix.Freight/IZoneClosingService/GetUnassignedTLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedClosedTLs">
      <soap12:operation soapAction="http://Argix.Freight/IZoneClosingService/GetUnassignedClosedTLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLanes">
      <soap12:operation soapAction="http://Argix.Freight/IZoneClosingService/GetLanes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChangeLanes">
      <soap12:operation soapAction="http://Argix.Freight/IZoneClosingService/ChangeLanes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloseZone">
      <soap12:operation soapAction="http://Argix.Freight/IZoneClosingService/CloseZone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TsortFaultFault">
        <soap12:fault use="literal" name="TsortFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TsortService">
    <wsdl:port name="WSHttpBinding_ITsortService" binding="tns:WSHttpBinding_ITsortService">
      <soap12:address location="http://localhost:25765/Argix10.Freight.Services/TsortService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:25765/Argix10.Freight.Services/TsortService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IFreightAssignService" binding="tns:WSHttpBinding_IFreightAssignService">
      <soap12:address location="http://localhost:25765/Argix10.Freight.Services/TsortService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:25765/Argix10.Freight.Services/TsortService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IZoneClosingService" binding="tns:WSHttpBinding_IZoneClosingService">
      <soap12:address location="http://localhost:25765/Argix10.Freight.Services/TsortService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:25765/Argix10.Freight.Services/TsortService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>