Argix10.Enterprise/Argix10.Tracking.Web/App_WebReferences/Argix/Enterprise/Tracking22.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Argix.Customers" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Argix.Customers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Argix.Customers/Imports">
      <xsd:import schemaLocation="http://localhost:9210/Argix10.Enterprise.Services/Tracking.svc?xsd=xsd5" namespace="http://Argix.Customers" />
      <xsd:import schemaLocation="http://localhost:9210/Argix10.Enterprise.Services/Tracking.svc?xsd=xsd0" namespace="http://Argix" />
      <xsd:import schemaLocation="http://localhost:9210/Argix10.Enterprise.Services/Tracking.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9210/Argix10.Enterprise.Services/Tracking.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:9210/Argix10.Enterprise.Services/Tracking.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix" />
      <xsd:import schemaLocation="http://localhost:9210/Argix10.Enterprise.Services/Tracking.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="ICRMService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsForStoreByPickupDate_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsForStoreByPickupDate" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsForStoreByPickupDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsForStoreByPickupDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsForStoreByPickupDate_TrackingFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q1:TrackingFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsForStoreByDeliveryDate_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsForStoreByDeliveryDate" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsForStoreByDeliveryDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsForStoreByDeliveryDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsForStoreByDeliveryDate_TrackingFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q2:TrackingFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsByCartonNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsByCartonNumber" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsByCartonNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsByCartonNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsByCartonNumber_TrackingFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q3:TrackingFault" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsByLabelNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsByLabelNumber" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsByLabelNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackCartonsByLabelNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMService_TrackCartonsByLabelNumber_TrackingFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Argix" name="detail" element="q4:TrackingFault" />
  </wsdl:message>
  <wsdl:portType name="ICRMService">
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/GetClients" message="tns:ICRMService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/GetClientsResponse" message="tns:ICRMService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForStoreByPickupDate">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsForStoreByPickupDate" message="tns:ICRMService_TrackCartonsForStoreByPickupDate_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsForStoreByPickupDateResponse" message="tns:ICRMService_TrackCartonsForStoreByPickupDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.TrackingFault" name="TrackingFaultFault" message="tns:ICRMService_TrackCartonsForStoreByPickupDate_TrackingFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsForStoreByDeliveryDate">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsForStoreByDeliveryDate" message="tns:ICRMService_TrackCartonsForStoreByDeliveryDate_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsForStoreByDeliveryDateResponse" message="tns:ICRMService_TrackCartonsForStoreByDeliveryDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.TrackingFault" name="TrackingFaultFault" message="tns:ICRMService_TrackCartonsForStoreByDeliveryDate_TrackingFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsByCartonNumber">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsByCartonNumber" message="tns:ICRMService_TrackCartonsByCartonNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsByCartonNumberResponse" message="tns:ICRMService_TrackCartonsByCartonNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.TrackingFault" name="TrackingFaultFault" message="tns:ICRMService_TrackCartonsByCartonNumber_TrackingFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackCartonsByLabelNumber">
      <wsdl:input wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsByLabelNumber" message="tns:ICRMService_TrackCartonsByLabelNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://Argix.Customers/ICRMService/TrackCartonsByLabelNumberResponse" message="tns:ICRMService_TrackCartonsByLabelNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Argix.TrackingFault" name="TrackingFaultFault" message="tns:ICRMService_TrackCartonsByLabelNumber_TrackingFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>