Argix10.Enterprise/Argix10.BNTracking.Web/App_WebReferences/Argix/ConsumerTracking3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix" elementFormDefault="qualified" targetNamespace="http://Argix" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53791/Argix10.Enterprise.Services/ConsumerTracking.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TrackCartons">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cartonNumbers" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vendorNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackCartonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackCartonsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="TrackingDataset" Namespace="http://schemas.datacontract.org/2004/07/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://www.argixdirect.com/Tracking/TrackingDataset" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>