Argix10.Freight/Argix10.PalletShipment.Web/App_WebReferences/Argix/Freight/Client/DispatchClient43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Argix.Freight" elementFormDefault="qualified" targetNamespace="http://Argix.Freight" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25765/Argix10.Freight.Services/DispatchClient.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Argix.Freight" />
  <xs:element name="ViewPickupLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewPickupLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewPickupLogResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPickup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="pickup" nillable="true" type="q1:PickupRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPickupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestPickupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPickupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="ReadPickupResult" nillable="true" type="q2:PickupRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePickup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Argix.Freight" minOccurs="0" name="pickup" nillable="true" type="q3:PickupRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePickupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePickupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPickup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:int" />
        <xs:element minOccurs="0" name="cancelled" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cancelledUserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPickupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelPickupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>